/*
## Colors
### Primary
- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral
- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)


## Typography
### Font
- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Font size: 15px
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    display: block;
    width: auto;
    height: 100%;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 20em;
    /* min-width: 20em; */
    /* max-width: 20em; */
    /* min-height: 40em; */
    overflow: auto;
    text-align: center;
}

header {
    background-color: hsl(277, 74%, 34%);
}

.header-img {
    width: 100%;
    height: auto;
    opacity: .475;
}

.main {    
    margin-top: 2.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.heading {
    font: 700 1.725rem 'Inter', sans-serif;
}

h2 {
    font: 700 1.5rem 'Inter', sans-serif;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.content {
    margin-top: 1.275em;
    margin-bottom: 2.75em;
    font: .9375rem/1.6 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
}

.stats {
    display: flex;
    flex-flow: column wrap;
    justify-items: space-around;
    row-gap: 1.3em;
    padding-bottom: 2.5em;
}

.stats h2 {
    color: #ffffff;
    margin-bottom: .2em;
}

.stats p {
    font: 400 .8rem 'Lexend Deca', sans-serif ;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: .05rem;
}

@media only screen and (min-width: 400px) {
    .card {}
    .stats {
            flex-flow: row wrap;
    }
    .heading {}
    .content {}
    .stats p {}
}